@tailwind base;
@tailwind components;
@tailwind utilities;


.rs-input-group {
    border: 1px solid rgb(219, 224, 229)
}

.rs-input-group:not(.rs-input-group-disabled):hover {
    border-color: rgb(217, 0, 0);
    /*outline: 1px solid rgb(255, 0, 0);*/
}

.rs-input-group:not(.rs-input-group-disabled):focus {
    border-color: rgb(217, 0, 0);
    /*outline: 1px solid rgb(217, 0, 0);*/
}

.rs-input-group:not(.rs-input-group-disabled):active {
    border-color: rgb(217, 0, 0);
    /*outline: 1px solid rgb(217, 0, 0);*/

}